html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 98%;
}
.side {
  margin: 4px;
  width: 250px;
  top: 10;
  bottom: 10;
  padding: 8px;
  display: flex;
  align-items: stretch;
  height: 97%;
}
ul.tree-view {
  font-size: 17px;
}
.container {
  display: flex;
  height: 100%;

  flex-flow: row;
}
.content {
  overflow: auto;
  margin: 0px;
  position: relative;
  height: 95%;
  font-size: 15px;
}

.window-container {
  width: calc(100% - 250px);
  height: 97.5%;
}

#component-container {
  font-family: Arial;
  display: flex;
  direction: row;
  padding: 15px;
}
#section-content {
  border-left: 1px solid #808080;
  display: flex;
  direction: row;
  padding: 15px;
  margin-left: 10px;
}

.section-content-text {
  padding-left: 20px;
}

.title-container {
  width: 300px;
}
.title-container h4 {
  float: right;
}
